<html>
    <head>
        <title>Blog IA BEM VINDO!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Inteligência Artificial!</a></h1>
        </div>

        <div>
            <p>published: 17.03.2017, 15:54</p>
            <h2><a href="">Meu primeiro post!</a></h2>
            <p>Inteligência Artificial Inteligência artificial (por vezes mencionada pela sigla em inglês AI - artificial intelligence) é a inteligência similar à humana exibida por mecanismos ou software. Também é um campo de estudo acadêmico. Os principais pesquisadores e livros didáticos definem o campo como "o estudo e projeto de agentes inteligentes", onde um agente inteligente é um sistema que percebe seu ambiente e toma atitudes que maximizam suas chances de sucesso. John McCarthy, quem cunhou o termo em 1956 ("numa conferência de especialistas celebrada em Darmouth Colege" Gubern, Román: O Eros Eletrónico), a define como "a ciência e engenharia de produzir máquinas inteligentes". É uma área de pesquisa da computação dedicada a buscar métodos ou dispositivos computacionais que possuam ou multipliquem a capacidade racional do ser humano de resolver problemas, pensar ou, de forma ampla, ser inteligente.</p>
        </div>

        <div>
            <p>published: 17.03.2017, 15:54</p>
            <h2><a href="">Meu segundo post!</a></h2>
            <p>Aguarde e será publicado em breve!.</p>
        </div>
    </body>
</html>